{% extends "base.html" %}

{% block content %}
<article>
    <header>
        <h2>{{ jogador.nome }}</h2>
        <p>
            <strong>Delegação:</strong> {{ jogador.delegacao.nome }} <br>
            <strong>Posição:</strong> {{ jogador.posicao }}
        </p>
    </header>

    <div class="grid">
        <div class="stat-card">
            <h3>{{ stats.gols }}</h3>
            <p>Gols Marcados</p>
        </div>
        <div class="stat-card">
            <h3>{{ stats.mvps }}</h3>
            <p>Vezes "Melhor da Partida"</p>
        </div>
    </div>
</article>
{% endblock %}
